* {
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
}

.flex {
  display: flex;
}

.content-color {
  background-color: #EEEEEE;
}

.product-card {
  height: 40px;
}

.content {
  display: flex;
  flex-direction: column;
}

.category {
  background-color: #393E46;
  width: 16vw;
  border-radius: 10px;
}

.category :hover {
  background-color: #775f26;
  border-radius: 10px;
  transform: translate(2px);
}

.category div {
  color: #EEEEEE;
  margin: 2px;
  padding: 3px;
  height: fit-content;
}

.header {
  background-color: #FFD369;
  border-radius: 5px;
  flex-flow: row wrap;
  padding: 5px;
}

/* Isso é apenas para esconder o texto do requisito obrigatório */

.header p {
  color: #FFD369;
  height: 40px;
}

.header img:hover {
  background-color: #EEEEEE;
  border-radius: 5px;
  height: 35px;
}

.header input {
  align-items: center;
  background-image: url("https://www.svgrepo.com/show/23287/magnifier.svg");
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: auto;
  margin-left: 50px;
  width: 400px;
}



.header button {
  align-items: center;
  display: flex;
  height: 22px;
  margin: auto;
  margin-left: 5px;
  margin-right: 10px;
  justify-content: center;
}
