* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5%;
  box-sizing: border-box;
  justify-content: center;
}

.productArea {
  height: 300px;
  display: flex;
  width: 400px;
  flex-direction: column;
}

.flex {
  display: flex;
}

#products-session {
  display: flex;
  width: 100%;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  border-radius: 10px;
  max-width: 400px;
  min-width: 400px;
  box-sizing: border-box;
  padding: 20px;
}

.addToCard {
  height: 40px;
  width: 120px;
  outline: none;
  border: none;
  color: #ffd369;
  background-color: #393e46;
  transition: 0.5s;
  font-size: 18px;
}

.addToCard:hover {
  background-color: #ffd369;
  color: #393e46;
  font-size: 20px;
}

.productTitle {
  font-weight: bold;
}

.freeShipping {
  font-weight: bold;
  color: green;
}

.noFreeShipping {
  color: red;
  font-weight: bold;
}

.infoArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 140px;
}

.content-container button {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 15px;
  width: 170px;
}

.content-container img {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.content-container a {
  align-items: center;
  color: black;
  display: flex;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

.category {
  background-color: #393e46;
  border-radius: 3px;
  width: 16vw;
}

.category :hover {
  background-color: #775f26;
  border-radius: 10px;
  transform: translate(2px);
}

.category div {
  color: #eee;
  height: fit-content;
  margin: 2px;
  padding: 3px;
}

.header {
  background-color: #ffd369;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  min-height: 60px;
}

/* Isso é apenas para esconder o texto do requisito obrigatório
.header p {
  color: #ffd369;
  height: 40px;
}
*/

.header input {
  background-image: url('https://www.svgrepo.com/show/23287/magnifier.svg');
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 35px;
  margin: auto;
  width: 400px;
  box-sizing: border-box;
  padding: 2px 10px;
  font-size: 20px;
  border: none;
}

.header input:focus {
  outline: none;
  border: 1px solid black;
  box-sizing: border-box;
}

.header button {
  align-items: center;
  height: 35px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  width: 80px;
  outline: none;
  border: none;
  border-radius: 50px;
  transition: 0.5s;
}

.header button:hover {
  background-color: black;
  color: white;
}
