* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-content {
  display: flex;
}

.flex {
  display: flex;
}

.products-session {
  background-color: #eee;
  display: flex;
  max-height: 1000px;
  overflow: hidden;
}

.product {
  align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 30px;
  max-width: 600px;
  padding: 20px;
}

.content-container button {
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 15px;
  width: 170px;
}

.content-container img {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
}

.content-container a {
  align-items: center;
  color: black;
  display: flex;
  justify-content: center;
  margin: auto;
  text-decoration: none;
}

.category {
  background-color: #393e46;
  border-radius: 3px;
  width: 16vw;
}

.category :hover {
  background-color: #775f26;
  border-radius: 10px;
  transform: translate(2px);
}

.category div {
  color: #eee;
  height: fit-content;
  margin: 2px;
  padding: 3px;
}

.header {
  background-color: #ffd369;
  flex-flow: row wrap;
  padding: 5px;
}

/* Isso é apenas para esconder o texto do requisito obrigatório
.header p {
  color: #ffd369;
  height: 40px;
}
*/

.header img:hover {
  background-color: #eee;
  border-radius: 3px;
  height: 35px;
}

.header input {
  align-items: center;
  background-image: url('https://www.svgrepo.com/show/23287/magnifier.svg');
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 10px;
  display: flex;
  height: 25px;
  justify-content: center;
  margin: auto;
  margin-left: 50px;
  width: 400px;
}

.header button {
  align-items: center;
  display: flex;
  height: 22px;
  justify-content: center;
  margin: auto;
  margin-left: 5px;
  margin-right: 10px;
}
