.session {
  align-items: center;
  background-color: gainsboro;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 30px;
  max-width: 800px;
  padding: 20px;
}

div .session {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}

.session img {
  margin: 15px;
  width: 100px;
}

.form {
  align-items: center;
  display: flex;
  padding: 10px;
}

.form input {
  margin: 10px;
}

.form button {
  margin: 10px;
}

.session a {
  background-color: rgb(190, 185, 185);
  border-radius: 5px;
  color: black;
  padding: 5px;
  text-decoration: none;
}
