.cartArea {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 60px);
  background-color: gainsboro;
  justify-content: center;
  align-items: center;
}

.cartProductArea {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 600px;
  min-width: 600px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.quantityButton {
  height: 30px;
  width: 30px;
}

.cartProductInformation {
  display: flex;
  flex-direction: column;
  width: 480px;
  height: 120px;
  justify-content: space-evenly;
  align-items: center;
}

.cartImage {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.buttonsArea {
  display: flex;
}

.productCartTitle {
  font-weight: bold;
  max-width: 400px;
}

.productCartPrice {
  font-weight: bold;
}

.quantityCartItem {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}

.endBuyCart {
  background-color: seagreen;
  height: 40px;
  width: 160px;
  border: none;
  color: #ffd369;
  background-color: #393e46;
  transition: 0.5s;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
}

.endBuyCart:hover {
  color: #393e46;
  background-color: #ffd369;
  border-radius: 20px;
}

.backButton {
  margin-top: 10px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

